 .nav-item:hover {
  text-decoration: underline;
}

.d-flex {
  display: flex !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.input-group form input{
	width: 100%;
	font-size: 15px;
	color: #b7b7b7;
	padding-left: 20px;
	border: 1px solid #e5e5e5;
	height: 42px;

}

.input-group-btn {
  color: #b7b7b7;
  font-size: 15px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  padding: 0 15px;
  top: 0;
  height: 100%;
  margin-left: -50px;
}

.sidebar_accordion .accordion-item{
	border: none;
	border-radius: 0;

}

.sidebar_accordion .card-body{
	padding: 0;	
	padding-top: 5px;
	padding-bottom: none;
	
	
}
.sidebar_accordion .accordion-card {
	cursor: pointer;
	box-shadow: none;
	border: none;
}

.accordion-card h2{
	color: #111111;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	box-shadow: none;
}

.sidebar_accordion .card-body ul{
	height: 225px;
	border: none;
	box-shadow: none;
}

.sidebar_accordion .accordion-collapse  {
	color: #b7b7b7;
	border: none;

}

.sidebar_categories ul li
 {
	list-style: none;
	border: none;
}



.sidebar_categories ul li a
 {
	color: #b7b7b7;
	font-size: 15px;
	
	text-decoration: none;
	border: none;
	
}
.sidebar_categories ul li a:hover{
color: #111111;
box-shadow: none;

}

.sidebar_accordion .accordion-button{
	background-color: Transparent;
	box-shadow: none;
    border: none;
    overflow: hidden; 
	color: #000000;

}  */

 .shop__product__option {
	margin-bottom: 45px;
} 

 .shop__product__option p {
	color: #111111;
	margin-bottom: 0;
} 

 .shop__product__option__right {
	text-align: right;
} 

.shop__product__option__right p {
	display: inline-block;
	margin-bottom: 0;
}
.carousel-item{
	height: 24rem;
	background-color: white;
}

.carousel-item h5, p{
	color:black;
}

